@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  /* justify-content: center; */
}

input,
a {
  @apply bg-transparent outline-none;
}

.App {
  @apply flex flex-col h-full;
}

.content-wrapper {
  @apply w-full max-w-screen-2xl mx-auto my-0;
}

/* header */

.header {
  @apply h-[80px] bg-[#23272E] flex items-center justify-center;
}

.header .content-wrapper {
  @apply flex items-center justify-between;
}

.header-nav__list {
  @apply flex gap-[20px] items-center;
}

.header-nav__list-item a {
  @apply text-[16px] cursor-pointer font-[500] text-white hover:text-purple-600 transition-colors focus-visible:outline-[2px] focus-visible:outline-purple-600 rounded-[5px] p-[5px];
}

.header-circle {
  @apply h-[30px] w-[30px] rounded-full bg-purple-600;
}

.main {
  @apply flex-1 bg-[#171A21];
}

.main .content-wrapper {
  @apply h-full;
}

/* bookshelf */

.bookshelf {
  @apply flex align-top gap-[30px] mt-[50px] h-full;
}

.bookshelf__sidebar {
  @apply bg-[#23272E] border-[#3B404D] border-[1px] rounded-[6px] w-[300px] h-fit;
}

.bookshelf__sidebar-content-wrapper {
  @apply p-[16px];
}

.bookshelf__sidebar-header {
  @apply bg-[#3B404D] rounded-t-[5px] border-b-[1px] border-[#3B404D] text-[#fff] uppercase px-[16px] py-[5px];
}

.bookshelf__filter-search {
  @apply h-[30px] w-full relative;
}
.bookshelf__filter-search svg {
  @apply text-white w-[20px] h-[20px] absolute right-[10px] top-[calc(50%-10px)];
}

.bookshelf__filter-search input {
  @apply border-[2px] border-[#cccccc] focus-visible:outline-[2px] focus-visible:outline-purple-600 text-white rounded-[6px] h-full w-full px-[5px];
}

.bookshelf__filter-list {
  @apply mt-[20px];
}
.bookshelf__filter-list-item span svg {
  @apply mr-[10px];
}
.bookshelf__filter-list-item {
  @apply flex items-center text-white hover:bg-purple-600 hover:bg-opacity-30 transition-colors rounded-[5px] p-[5px] cursor-pointer;
}

.bookshelf-content {
  @apply h-[calc(100%-50px)] w-full mb-[10px] flex flex-col;
}
.bookshelf-title {
  @apply text-white text-[21px] mb-[10px];
}
.bookshelf-books {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  @apply gap-[20px];
}
.bookshelf__col {
  @apply bg-transparent border-[2px] border-slate-200 rounded-[6px] flex flex-col p-[10px];
}

.bookshelf__col-title {
  @apply text-[20px] text-slate-200 border-b-[1px] border-slate-200 p-[10px];
}

.bookshelf__list {
  @apply flex flex-col mt-[10px] overflow-y-auto h-full;
}
.bookshelf__list-item {
  @apply flex flex-1 items-center justify-between rounded-[5px] hover:bg-purple-600 hover:bg-opacity-30 p-[5px] cursor-pointer max-h-[60px];
}
.bookshelf__list-item-check {
  @apply w-[25px] h-[25px] flex justify-center items-center text-slate-300 cursor-move;
}
.bookshelf__list-item-image {
  @apply h-[50px] w-[50px] flex justify-center items-center mx-[20px] bg-center bg-cover;
}
.bookshelf__list-item-content {
  @apply flex flex-1 flex-col;
}

.bookshelf__list-item-title {
  @apply text-[16px] text-white leading-4 pointer-events-none;
}
.bookshelf__list-item-author {
  @apply text-[12px] text-slate-400 pointer-events-none;
}

/* footer */
.footer {
  @apply bg-[#171A21] text-white py-[20px];
}

.footer-content {
  @apply flex justify-center;
}

.loader-container {
  @apply text-white;
}